In [4]:
print(type(1))

print (10)
print ( type (10) )

<class 'int'>
10
<class 'int'>

In [5]:
# Variable 100 Entero
variable = 100
print (variable)
print ( type (variable) )

100
<class 'int'>

In [6]:
# Variable 20 Entero
variable_2 = int (20)
print (variable_2)
print ( type (variable_2) )

20
<class 'int'>

In [7]:
# Valor 10 en base decimal
print ("Base decimal")
print (10)
# Valor 10 en binario
print ("Base binaria")
print (0b1010)
# Valor 10 en octal
print ("Base octal")
print (0o12)
# Valor 10 en hexadecimal
print ("Base hexadecimal")
print (0xa)

Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10

In [8]:
# Entero con 60 dígitos
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print (variable_3)
print (type (variable_3))

123456789012345678901234567890123456789012345678901234567890
<class 'int'>

In [9]:
# Valor 0.5 Flotante
print (0.5)
print ( type (0.5) )

0.5
<class 'float'>

In [10]:
# Variable 0.100546 Flotante
variable_4 = 0.100546
print (variable_4)
print ( type (variable_4) )

0.100546
<class 'float'>

In [11]:
# Variable 1 Flotante
variable_7 = float (1)
print(variable_7)
print ( type (variable_7) )

1.0
<class 'float'>

In [12]:
# Valor 2.0e-3 Flotante
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )

0.002
<class 'float'>

In [13]:
# Precisión de 17 decimales
variable_5 = 0.9999999999999999
print(variable_5)
print ( type (variable_5) )

0.9999999999999999
<class 'float'>

In [14]:
# Operadores aritméticos
a = 10
b = 3
# Suma
print ("Suma")
print (a + b)
# Resta
print ("Resta")
print (a - b)
# Multiplicación
print ("Multiplicación")
print (a * b)
# División
print ("División")
print (a / b)
# Potencia
print ("Potencia")
print (a ** b)
# Módulo o residuo
print ("Módulo o residuo")
print (a % b)
# División entera
print ("División entera")
print (a // b)

Suma
13
Resta
7
Multiplicación
30
División
3.3333333333333335
Potencia
1000
Módulo o residuo
1
División entera
3

In [15]:
# Operaciones más complejas
minutos = 300
tiempo_extra_segundos = 3600
horas = (minutos + tiempo_extra_segundos / 60) / 60
print (horas)

6.0

In [16]:
print ("Operadores de comparación")
comparar = 10
print (comparar < 10)
print (comparar > 10)
print (comparar == 10)
print (comparar <= 10)
print (comparar >= 10)
print (comparar != 10)

Operadores de comparación
False
False
True
True
True
False

In [17]:
print ("Operadores de comparación con int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)

Operadores de comparación con int - float
False
False
True
True
True
False